$blue: rgb(113, 135, 246);
$darkBlue: rgb(93, 111, 201);
$purple: rgb(117, 23, 117);
$darkPurple: rgb(71, 14, 71);
$red: #ba2732;
$darkRed: #8a1d25;

.containerPost {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin-right: unset;
}
.containerItem {
  position: relative;
  margin-right: 20px;
}

.mainSection {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 50px 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
}
.mainSectionHeader {
  display: flex;
  height: 38px;
  align-items: center;
  padding-left: 26px;
  padding-right: 25px;
  background-color: $blue;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.mainSectionHeaderTitle {
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: $darkRed;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}
.mainSectionForm {
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  align-items: flex-end;
}
.inputLabel {
  margin-left: 10px;
  position: relative;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: black;
  background-color: white;
}

.signInSelect {
  margin-top: 10px;
  padding: 8px 15px;
  width: 170px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #1b1b1b;
  border: 2px solid #d7dcde;
  border-radius: 30px;
  outline: none;
}

.btnClose {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  top: 45%;
  right: -35px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
.btnClose::before,
.btnClose::after {
  top: 10px;
  left: 0px;
  content: '';
  position: absolute;
  width: 25px;
  height: 5px;
  background: #ee3643;
  border-radius: 2px;
}
.btnClose::before {
  transform: rotate(45deg);
}
.btnClose::after {
  transform: rotate(-45deg);
}
.btnClose:hover::after {
  transform: rotate(135deg);
  transition: transform 0.5s ease-in-out;
}
.btnClose:hover::before {
  transform: rotate(225deg);
  transition: transform 0.5s ease-in-out;
}

.containerImg {
  position: relative;
  margin-right: 40px;
}
