$blue: rgb(113, 135, 246);
$darkBlue: rgb(93, 111, 201);
$purple: rgb(117, 23, 117);
$darkPurple: rgb(71, 14, 71);
$red: #ba2732;
$darkRed: #8a1d25;

.Editor {
  display: flex;
}
.ContainerColumn {
  display: flex;
  margin-left: 50px;
  margin-top: 10px;
  max-width: 1040px;
  margin-right: auto;
  flex-direction: column;
}
.ContainerPost {
  min-width: 300px;
  flex-wrap: wrap;
  margin-right: unset;
}
.ContainerItem {
  margin-right: 20px;
}
.MainSection {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 50px 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
}
.MainSectionHeader {
  display: flex;
  height: 38px;
  align-items: center;
  padding-left: 26px;
  padding-right: 25px;
  background-color: $red;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}
.MainSectionHeaderTitle {
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: white;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
.MainSectionHeaderTitle {
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: $darkRed;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}
.MainSectionForm {
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  align-items: flex-end;
}
.InputLabel {
  margin-left: 10px;
  position: relative;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: black;
  background-color: white;
}

.SignInSelect {
  margin-top: 10px;
  padding: 8px 15px;
  width: 170px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #1b1b1b;
  border: 2px solid #d7dcde;
  border-radius: 30px;
  outline: none;
}
