$blue: rgb(113, 135, 246);
$darkBlue: rgb(93, 111, 201);
$purple: rgb(117, 23, 117);
$darkPurple: rgb(71, 14, 71);
$red: #ba2732;
$darkRed: #8a1d25;

.Button {
  min-height: 35px;
  position: relative;
  display: inline-block;
  padding: 10px 49px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: white;
  margin-left: 10px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}
.ButtonPrimary {
  background-color: $purple;
}
.ButtonGradient {
  background: linear-gradient(90deg, $blue -20%, $purple 100%);
}
.ButtonImportant {
  background-color: $blue;
}
.Button:hover {
  box-shadow: 1px 2px 10px 0px rgba(41, 52, 73, 0.5);
}
.ButtonPrimary:hover {
  background-color: rgb(61, 13, 61);
}
.ButtonImportant:hover {
  background-color: $darkBlue;
}
.ButtonImportant:active {
  box-shadow: inset 1px 2px 6px 0px black;
  background-color: $darkBlue;
}
.ButtonPrimary:active {
  box-shadow: inset 1px 2px 6px 0px black;
  background-color: $darkPurple;
}
.ButtonSignIn {
  margin-right: 10px;
}
.ButtonSignIn::before,
.ButtonSignOut::before {
  position: absolute;
  content: '';
  left: 10px;
  top: 9px;
  width: 22px;
  height: 20px;
  background: url('../../../img/svg/icon-login.svg') no-repeat;
}
.ButtonSignOut {
  background-color: $red;
  margin-right: 10px;
}
.ButtonSignOut:hover {
  background-color: $darkRed;
}
.ButtonSignOut::before {
  background: url('../../../img/svg/icon-logout.svg') no-repeat;
}

.ButtonSignIn:hover::before {
  background: url('../../../img/svg/icon-login-hover.svg') no-repeat;
}
.ButtonSignOut:hover::before {
  background: url('../../../img/svg/icon-logout-hover.svg') no-repeat;
}
.HeaderLink:active,
.userMenuSignOut:active {
  opacity: 0.8;
}
.HeaderLabel {
  position: relative;
}
.ButtonNavigation {
  box-sizing: border-box;
  margin-left: 0px;
  padding-left: 30px;
  width: 100%;
  text-align: left;
}
.ButtonNavigationActive {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}
.ButtonNavigation:active,
.ButtonNavigationActive {
  background-color: $red;
}
.ButtonNavigationActive:hover {
  background-color: $red;
}
.ButtonNavigationActive:after {
  content: '';
  width: 27px;
  height: 23px;
  position: absolute;
  right: 5px;
  top: 7px;
  background: url('../../../img/svg/folder.svg') no-repeat;
}

.Button:disabled {
  cursor: default;
  box-shadow: inset 1px 1px 4px 0px rgb(148, 142, 142);
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.disabledLink {
  cursor: default;
  box-shadow: inset 1px 1px 4px 0px rgb(148, 142, 142);
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.breadCrumbs {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 7px;
  padding-top: 3px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.breadCrumbsLink {
  position: relative;
  padding-right: 42px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.breadCrumbsLink:hover {
  color: #ee3643;
}
.breadCrumbsLinkActive:hover {
  color: black;
}
.breadCrumbsLink:active {
  color: #32425c;
  opacity: 0.3;
}
.breadCrumbsLinkActive:active {
  color: black;
  opacity: 1;
}
.breadCrumbsLink:after {
  content: '';
  width: 27px;
  height: 23px;
  position: absolute;
  right: -4px;
  top: 2px;
  background: url('../../../img/svg/icon-right-small.svg') no-repeat;
}
.breadCrumbsLinkActive:after {
  display: none;
}
.breadCrumbsLinkIndex {
  position: relative;
  padding-right: 42px;
  padding-left: 10px;
  width: 45px;
  height: 22px;
  background: url('../../../img/svg/icon-home.svg') no-repeat;
}
.breadCrumbsLinkIndex:hover {
  background: url('../../../img/svg/icon-home-hover.svg') no-repeat;
}
