<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Cuprum:400,400i,700|PT+Sans:400,400i,700&display=swap&subset=cyrillic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Ohana Wiki 2.0</title>
  </head>
  <body>
    <header class="mainHeader">
      <a class="logo logo--header"
        >Craft<img
          src="img/logo.png"
          alt="Логотип компании Крафт"
          width="71px"
          height="55px"
          class="logo__headerImg"
        />Wiki</a
      >
      <form action="https://echo.htmlacademy.ru/" method="get" class="search">
        <input
          type="search"
          placeholder="Поиск:"
          id="search"
          class="search__input"
        />
        <label
          for="search"
          class="mainHeader__label"
          aria-label="Поиск по сайту:"
        ></label>
      </form>
      <a href="#" class="mainHeader__link mainHeader__link--signIn">Войти</a>
      <span class="mainHeader__loggedAs"
        >Вы вошли как: <span class="adminName"> Admin</span></span
      >
      <a href="#" class="mainHeader__link mainHeader__link--signOut">Выйти</a>
    </header>
    <main class="main">
      <nav class="navigation">
        <ul class="navigation__list">
          <li>
            <a href="#" class="navigation__link navigation__link--active"
              >Номенклатура</a
            >
          </li>
          <li><a href="#" class="navigation__link">Контракты</a></li>
          <li><a href="#" class="navigation__link">Пользователи</a></li>
          <li><a href="#" class="navigation__link">Чеки</a></li>
          <li><a href="#" class="navigation__link">Шаблоны</a></li>
          <li><a href="#" class="navigation__link">Оплата</a></li>
          <li><a href="#" class="navigation__link">Возвраты</a></li>
          <li>
            <a href="edit.html" class="navigation__link navigation__link--edit"
              >Редактирование</a
            >
          </li>
          <li>
            <a
              href="perms.html"
              class="navigation__link navigation__link--permissions"
              >Права</a
            >
          </li>
          <li>
            <a
              href="users.html"
              class="navigation__link navigation__link--users"
              >Пользователи</a
            >
          </li>
        </ul>
      </nav>
      <div class="container container--columnMain">
        <h1 class="visuallyHidden">
          Главная страница Wiki Craft Ohana &#171;Ohana Fitness&#187;
        </h1>
        <section class="mainSection">
          <ul class="container__breadcrumbs breadcrumbs">
            <li>
              <a
                href="index.html"
                class="breadcrumbs__link breadcrumbs__link--index"
                aria-label="Ссылка на главную страницу"
              ></a>
            </li>
            <li><a href="#" class="breadcrumbs__link">Номенклатура</a></li>
            <li>
              <a class="breadcrumbs__link breadcrumbs__link--active"
                >Удаление</a
              >
            </li>
          </ul>
          <header class="mainSection__header">
            <h2 class="mainSection__header--title">Права</h2>
          </header>
          <form class="mainSection__form">
            <div class="mainSection__perms">
              <ul class="perms__list">
                <li class="perms__listItem">
                  <p class="perms__listText">Пользователи</p>
                </li>
                <li class="perms__listItem">
                  <p class="perms__listText">Чеки</p>
                </li>
                <li class="perms__listItem perms__listItem--sub">
                  <p class="perms__listText">Удаление</p>
                </li>
                <li class="perms__listItem perms__listItem--sub">
                  <p class="perms__listText">Редактирование</p>
                </li>
                <li class="perms__listItem perms__listItem--sub">
                  <p class="perms__listText">Корректировка</p>
                </li>

                <li class="perms__listItem">
                  <p class="perms__listText">Шаблоны</p>
                </li>
                <li class="perms__listItem">
                  <p class="perms__listText">Оплата</p>
                </li>
                <li class="perms__listItem">
                  <p class="perms__listText">Возвраты</p>
                </li>
              </ul>
              <ul class="catalog-form__checkboxes checkboxes">
                <li class="checkboxes__listItem">
                  <p class="checkboxes__item--text">Admin</p>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox1"
                    value="1"
                    id="checkbox-1"
                    checked
                  />
                  <label class="checkboxes__label" for="checkbox-1"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox2"
                    value="2"
                    id="checkbox-2"
                  />
                  <label class="checkboxes__label" for="checkbox-2"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox3"
                    value="3"
                    id="checkbox-3"
                    checked
                  />
                  <label class="checkboxes__label" for="checkbox-3"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox4"
                    value="4"
                    id="checkbox-4"
                  />
                  <label class="checkboxes__label" for="checkbox-4"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox5"
                    value="5"
                    id="checkbox-5"
                  />
                  <label class="checkboxes__label" for="checkbox-5"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox6"
                    value="6"
                    id="checkbox-6"
                    checked
                  />
                  <label class="checkboxes__label" for="checkbox-6"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox7"
                    value="7"
                    id="checkbox-7"
                    checked
                  />
                  <label class="checkboxes__label" for="checkbox-7"></label>
                </li>
              </ul>
              <ul class="catalog-form__checkboxes checkboxes">
                <li class="checkboxes__listItem">
                  <p class="checkboxes__item--text">Trener</p>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox1"
                    value="11"
                    id="checkbox-11"
                    checked
                  />
                  <label class="checkboxes__label" for="checkbox-11"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox2"
                    value="22"
                    id="checkbox-22"
                  />
                  <label class="checkboxes__label" for="checkbox-22"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox3"
                    value="33"
                    id="checkbox-33"
                    checked
                  />
                  <label class="checkboxes__label" for="checkbox-33"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox4"
                    value="44"
                    id="checkbox-44"
                  />
                  <label class="checkboxes__label" for="checkbox-44"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox5"
                    value="55"
                    id="checkbox-55"
                  />
                  <label class="checkboxes__label" for="checkbox-55"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox6"
                    value="66"
                    id="checkbox-66"
                    checked
                  />
                  <label class="checkboxes__label" for="checkbox-66"></label>
                </li>
                <li class="checkboxes__listItem">
                  <input
                    class="checkboxes__item visuallyHidden"
                    type="checkbox"
                    name="grid__item--checkbox7"
                    value="77"
                    id="checkbox-77"
                    checked
                  />
                  <label class="checkboxes__label" for="checkbox-77"></label>
                </li>
              </ul>
            </div>
            <button class="btn btn--submit">Сохранить</button>
          </form>
        </section>
      </div>
    </main>

    <footer class="footer">
      <p class="copy">
        &#169; 2016-2021 Компания &#171;Ohana&#187; Все права защищены
      </p>
      <p class="mailto-research">
        Сообщить об ошибке:<br /><a
          href="mailto:kostyrin@ohanafitness.ru"
          class="mailto-research__link"
          >kostyrin@ohanafitness.ru</a
        >
      </p>
    </footer>
    <section class="signIn">
      <h2 class="visuallyHidden">Написать нам</h2>
      <button class="btnClose" type="button" title="close"></button>
      <form
        action="https://echo.htmlacademy.ru/"
        method="post"
        class="signIn__form"
      >
        <div class="signIn--container">
          <p>
            <label class="signIn__lable"
              >Ваш логин:<br />
              <input
                type="text"
                class="signIn__input"
                name="login"
                placeholder="Введите логин"
              />
            </label>
          </p>
          <p>
            <label class="signIn__lable"
              >Ваш пароль:<br />
              <input
                type="password"
                class="signIn__input"
                name="password"
                placeholder="Введите пароль"
              />
            </label>
          </p>
        </div>
        <button class="btn btn--submit" type="submit">Войти</button>
      </form>
    </section>
    <script src="js/script.js"></script>
  </body>
</html>
<!-- <p class="signIn__paragraph">
          <label class="signIn__lable"
            >Текст письма:<br />
            <textarea
              class="signIn__input signIn__input--textarea"
              name="comment"
              rows="5"
              placeholder="В свободной форме"
            ></textarea>
          </label>
        </p> -->
