$blue: rgb(113, 135, 246);
$darkBlue: rgb(93, 111, 201);
$purple: rgb(117, 23, 117);
$darkPurple: rgb(71, 14, 71);

.Header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, $blue -20%, $purple 100%);
  min-height: 80px;
  margin-bottom: 20px;
}
.Logo {
  margin-left: 20px;
  padding: 2px 54px 2px 21px;
  display: block;
  width: 142px;
  height: 34px;
  background: url('../../img/svg/ohana.svg') no-repeat;
}
.LoggedAs {
  position: relative;
  display: inline-block;
  padding: 8px 15px 8px 35px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  background-color: white;
  color: black;
  border: 2px solid $darkBlue;
  border-radius: 5px;
  margin: 0px 20px 0px 20px;
}
.LoggedAs::before {
  content: '';
  width: 27px;
  height: 23px;
  position: absolute;
  left: 7px;
  top: 8px;
  background: url('../../img/svg/icon-user-hover.svg') no-repeat;
}
.userName {
  color: $darkBlue;
}

.signIn {
  display: none;
  position: fixed;
  top: 250px;
  left: 50%;
  margin-left: -310px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
  width: 520px;
  background-color: white;
  border-top-style: solid;
  border-top-width: 25px;
  border-color: $blue;
  border-radius: 6px;
  padding: 33px 80px 30px 80px;
}
.signInForm {
  display: flex;
  flex-direction: column;
}

.signInContainer {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btnClose {
  z-index: 4;
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  top: 10px;
  right: 15px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
.btnClose::before,
.btnClose::after {
  top: 10px;
  left: 0px;
  content: '';
  position: absolute;
  width: 25px;
  height: 5px;
  background: #ee3643;
  border-radius: 2px;
}
.btnClose::before {
  transform: rotate(45deg);
}
.btnClose::after {
  transform: rotate(-45deg);
}
.btnClose:hover::after {
  transform: rotate(135deg);
  transition: transform 0.5s ease-in-out;
}
.btnClose:hover::before {
  transform: rotate(225deg);
  transition: transform 0.5s ease-in-out;
}
.popupShow {
  display: inline-block;
  z-index: 4;
  animation: bounce 0.6s;
}
.popupError {
  animation: shake 0.3s ease-in-out;
}
@keyframes bounce {
  0% {
    transform: translateY(2000px);
  }
  70% {
    transform: translateY(-30px);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-2px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2px);
  }
}

.modalWrapper {
  display: none;
}
.showModalWrapper {
  display: block;
  position: fixed;
  z-index: 3;
  padding-top: 50px;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
