.Textarea {
  margin-top: 10px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #1b1b1b;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  width: 100%;
}

.TextareaLabel {
  margin-left: 10px;
  position: relative;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: black;
  background-color: white;
}
